---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Epoch Bay Area</title>
  </head>
  <body class="bg-black text-white">
    <div class="py-16 px-8">
      <div class="w-fit">
        <div class="flex h-4 justify-between">
          <div class="h-full w-7 border-t border-l border-white"></div>
          <div class="h-full w-7 border-t border-r border-white"></div>
        </div>
        <h1 class="flex w-fit flex-col items-end px-12 font-mono uppercase">
          <div class="text-9xl font-bold">Ep0ch</div>
          <div class="-mt-12 translate-y-9 text-4xl font-semibold">
            Bay Area
          </div>
        </h1>
        <div class="flex h-4 justify-between">
          <div class="h-full w-7 border-b border-l border-white"></div>
          <div class="h-full w-7 border-b border-r border-white"></div>
        </div>
      </div>
      <div class="mt-16 pl-[3.7rem] text-xl">
        <div>December 30th &bull; 9am - 9pm</div>
        <button class="mt-4 bg-pink-400 px-6 py-1.5 font-semibold text-black"
          >Register</button
        >
      </div>
    </div>
  </body>
</html>
